*png
.eggs
.cache
*gpg
log
workflow-notebook*json
workflow-notebook*cwl
workflow-notebook*html
workflow.turtle
__pycache__
*swp
*fits
*.whl
*.tar.gz
build/
*.egg-info
pip-delete-this-directory.txt
cache.db
test.txt
test.cwl
*_output.ipynb
.ipynb_checkpoints
.vscode
tests/testrepo
dist
cwl.output.json
code
.venv
.vscode
data
example.ipynb