[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
checksumdir = "*"
diskcache = "*"
docker = "*"
flasgger = "*"
ipykernel = "*"
nbconvert = "==5.5"
psutil = "*"
pytest-flask = "*"
python-consul = "*"
rdflib = "*"
requests = "*"
cwlgen = "*"
papermill = "*"
nteract-scrapbook = "*"
pytest = "*"
numpy = "*"
astropy = "*"
pandas = "*"
pytest-xprocess = "*"
matplotlib = "*"
Flask-Caching = "*"
APScheduler = "*"
Flask = "*"
Flask-Cors = "*"
"ruamel.yaml" = "*"
Owlready2 = "==0.11"
PyYAML = "*"
cwl_runner = "*"
nb2workflow = {path = "."}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
