flask
pytest-flask
papermill==0.19.1
ipykernel
nbconvert
docker
checksumdir
flask-cors
flasgger
owlready2==0.11
rdflib
python-consul
apscheduler
-e git+https://github.com/volodymyrss/flask-caching.git@control_with_response#egg=flask-caching
-e git+https://github.com/volodymyrss/isdc-client.git@fe4faa1#egg=isdc-client
diskcache
psutil
