# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.


# on:
#   release:
#     types: [published]

# permissions:
#   contents: read

# jobs:
#   deploy:

#     runs-on: ubuntu-latest

    # steps:
    # - uses: actions/checkout@v3
    # - name: Set up Python
    #   uses: actions/setup-python@v3
    #   with:
    #     python-version: '3.x'
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install build
    # - name: Build package
    #   run: python -m build
    # - name: Publish package
    #   uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
    #   with:
    #     user: __token__
    #     password: ${{ secrets.PYPI_API_TOKEN }}


name: Bump version workflow

on:
  push:
    branches:
    - master
    - release-action
    # - main

jobs:
  bump-version:
    name: Bump package version
    if: "!contains(github.event.head_commit.message, 'Bump version')"
    runs-on: ubuntu-20.04
    steps:
    - name: actions/checkout
      uses: actions/checkout@v2
      # with:
      #     persist-credentials: false

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build bump2version

    - name: Bump version
      run: |
        git config --global user.email "vladimir.savchenko+oda-release-bot@gmail.com"
        git config --global user.name "ODA Release Bot"
        bump2version patch --verbose --commit --tag
        bump2version release --verbose --commit --tag

    - uses: stefanzweifel/git-auto-commit-action@v4

    - name: Build package
      run: python -m build

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}        
