# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version-env: [py39]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest wheel pytest-cov tox
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        git clone https://github.com/volodymyrss/nbworkflow-test.git tests/testrepo

    - name: Lint with flake8
      run: |
        PYTHONPATH=./ tox -e flake8

    - name: Test with pytest - no extras
      run: |
        pip install .
        PYTHONPATH=./ tox -e ${{ matrix.python-version-env }} 

    - name: Test with pytest
      run: |
        pip install .[rdf,service,mmoda,k8s]
        PYTHONPATH=./ tox -e ${{ matrix.python-version-env }} 

    - name: Codecov
      uses: codecov/codecov-action@v1.3.1

